<h3>Using Http Module to get current temperature in Boaton, Ma.</h3>
 
<div class="row">
   <div class="col-sm-4 col-md-4">
        <div class="well">
            <p>Current temperature is:</p><p>{{tempString}}</p>
        </div>
            <p>Get the current temperature in Boston, Ma</p>
            <button class="btn-info" (click)="getWeather()">Get it!</button>
    </div>
</div> 

<p class="logo"><a href="https://www.wunderground.com/"><img src="https://www.wunderground.com/logos/images/wundergroundLogo_4c_rev_horz.jpg"></a></p>

