<router-outlet></router-outlet>

<div class="container-fluid">

  <div class="row">
    <div class="col-md-12">
         <app-header-banner></app-header-banner>
     </div>
 </div>
  
<div class="row">
  <div class="col-md-12">
     <div class="well">
        <app-days-dates></app-days-dates>
     </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
      <div class="well">
          <app-forms-display></app-forms-display>
      </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
     <div class="well">
       <app-weather></app-weather>
     </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
     <div class="well">
       <app-webcam></app-webcam>
     </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
        <app-footer></app-footer>
    </div>
 </div>

</div>